<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мой первый сайт</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Центрированная навигация -->
    <nav class="nav-center">
        <a href="/">Главная страница</a>
        <a href="/blog">Рецепты</a>
        <a href="/contacts">Контакты</a>
    </nav>

    <div class="container">
        <h1 class="red-title">Японский десерт Моти</h1>
        <p class="#4cac16">
            Строго говоря, mochi — это не само пирожное, а японское тесто из очень клейкого риса мотигомэ,
            который приобретает нужную консистенцию и сладость,
            если его долго дробить и отбивать. Тесто для моти можно купить готовое,
            но сейчас в Москве в специальных магазинах продается и специальная рисовая мука для моти —
            чтобы кулинары могли пройти весь путь приготовления.<br><br>

            Как выглядит моти (mochi)? Это небольшой жемчужно-белый брикет,
            который для приготовления лакомств нужно разморозить. По сути, это и есть классический
             десерт моти: рецепт круглых тянущихся сладостей с начинкой — одна из его разновидностей.
            В целом можно просто поджарить во фритюре кусочки рисового теста и посыпать
            сладкой соевой крошкой — это тоже будет называться mochi.<br><br>

           Главная загвоздка моти — калорийность наполнителя. Само по себе рисовое тесто очень легкое,
            в нем содержится минимум жиров и сахара. А начинка для моти может быть и очень жирной
            (на основе крем-чиза, сливок, масляного крема),
            и низкокалорийной (желе, несладкий фруктовый мусс). <br><br>

            В среднем недиетический десерт моти содержит (на 100 г): <br><br>
            100 - 130 ккал; <br><br>
            2,3 г белков; <br><br>
            от 4 до 12 г жиров; <br><br>
            47 г углеводов. <br><br>
            Как сделать моти еще более легким? Если хочется снизить калораж сладостей,
            можно приготовить из рисовой муки домашнее ПП-моти без сахара и кокосового масла,
            а в качестве начинки взять манговое или клубничное пюре.<br><br>

            В последние годы ведутся споры: насколько эту японскую сладость можно считать ПП
            и стоит ли есть эти японские тянучки, находясь на диете? <br><br>

            С одной стороны, по калориям рисовые сладости выигрывает у целого ряда десертов.
            С другой, нужно понимать, что крем для начинки содержит много жиров,
            а кислые фрукты часто хочется сильно подсластить. В общем, даже здесь нужна мера:
            больше одного пирожного в день лучше себе не позволять,
            если вы стараетесь себя ограничивать в калориях.<br><br>

            Конечно, наиболее распространены десерты mochi в азиатских странах: Японии, Китае, Корее, Таиланде.
            Долгие столетия японцы не разглашали рецепт этих сладостей, зато потом ими заболела вся Азия,
            а в последние годы — и вся Европа. Особенно популярны эти лакомства в Италии, Германии, Великобритании,
            странах Восточной Европы. Конечно, в каждой стране пирожное обрастало новыми вариантами начинки:
            пломбир, соленая карамель, шоколад, кофейный мусс, суфле.
        </p>

         <img src="{{ url_for('static', filename='моти1.jpg') }}"
             alt="Моти" class="моти-photo">
         <img src="{{ url_for('static', filename='моти2.jpg') }}"
             alt="Моти" class="моти-photo">
         <img src="{{ url_for('static', filename='моти3.jpg') }}"
             alt="Моти" class="моти-photo">

         <img src="{{ url_for('static', filename='моти6_1.jpg') }}"
             alt="Моти" class="моти-photo">
         <img src="{{ url_for('static', filename='моти6_2.jpg') }}"
             alt="Моти" class="моти-photo">
         <img src="{{ url_for('static', filename='моти6_3.jpg') }}"
             alt="Моти" class="моти-photo">

    </div>

</body>
</html>